<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <DataAccess.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>soullaqd.beget.tech</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>soullaqd_tn</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>soullaqd_tn</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>fxbadawh12</value>
      </setting>
      <setting name="charset" serializeAs="String">
        <value>utf8</value>
      </setting>
    </DataAccess.Properties.Settings>
  </userSettings>
</configuration>